<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>멤버십 페이지</title>
<link href="stylesheets/twitter-bootstrap-3b3dd3a/docs/assets/css/bootstrap.css" rel="stylesheet">
<link href="stylesheets/mainpage_Layout.css" rel="stylesheet" type="text/css">
<link href="stylesheets/membership/membership.css" rel="stylesheet" type="text/css">
<style type="text/css">
body {
	padding-top: 20px;
	padding-bottom: 60px;
} /* Custom container */
.container {
	margin: 0 auto;
	max-width: 1000px;
}

.container>hr {
	margin: 60px 0;
} /* Main marketing message and sign up button */
.navbar .navbar-inner {
	padding: 0;
}

.navbar .nav {
	margin: 0;
}

.navbar .nav li {
	display: table-cell;
	width: 1%;
	float: none;
}

.navbar .nav li a {
	font-weight: bold;
	text-align: center;
	border-left: 1px solid rgba(255, 255, 255, .75);
	border-right: 1px solid rgba(0, 0, 0, .1);
}

.navbar .nav
li:first-child a {
	border-left: 0;
	border-radius: 3px 0 0 3px;
}

.navbar
.nav li:last-child a {
	border-right: 0;
	border-radius: 0 3px 3px 0;
}
</style>
</head>
<body>

	<div id="wrap">
		<!--전체 크기 -->

		<div id="header">
			<!-- 이름 , 로그인 회원가입 전체를 이르는 크기-->
			<div id="header_left">
				<!-- 헤더에서 이름 가르키는 크기-->
				<img src="images/logo.jpg">
			</div>
			<div id="header_middle">""</div>
			<div id="header_right">
				<!-- 헤더에서 로그인,회원가입의 크기-->
				<div id="header_right_top">
					<a href="">로그인 &nbsp;</a> <a href="">회원가입</a>
				</div>
			</div>
		</div>

		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<ul class="nav">
						<li><a href="information.html">공연</a></li>
						<li><a href="reserve.html">예약 </a></li>
						<li><a href="review.html">리뷰</a></li>
						<li class="active"><a href="membership.html">멤버십</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div id="content"> <!-- 실직적으로 보여질 정보들-->
			<div id="top">
				<h1> M J U Membership </h1>
				<ul>
					<li class='section'>
						<p align="center"><b> 멤버쉽 기본 혜택 </b></p>
						<ul>
							<li>멤버십 포인트로 평일 영화 무료, 매점 할인 등 혜택 제공</li>
							<li>시사회 등 이벤트 우선 참여 기회</li>
							<li>생일 회원 콤보 2천원 할인권 증정</li>
						</ul>
					</li>
					<li class='section'>
						<p align="center"><b> 멤버쉽 가입 방법 </b></p>
							<ol>
								<li>홈페이지 회원 가입 / 카드발급신청<br/>
								(카드발급 신청 양식 작성)</li>
								<li>극장에서 멤버십 카드 수령<br/>
								(회원가입 및 카드번호 등록)</li>
							</ol>
					</li>
				</ul>
			</div>

			<div id="middle">
				<table border="1">
					<tr>
						<th>멤버쉽종류</th>
						<th>할인혜택</th>
						<th>자격조건</th>
					</tr>
					<tr>
						<td><img src="http://postfiles4.naver.net/20121101_243/exteria_1351705509889lbuBR_JPEG/vip.jpg?type=w3"></td>
						<td>
						<ol>
							<li>공연 예매시 20% 할인</li>
							<li>공연 관람 금액 15% 적립</li>
							<li>VIP 좌석 예매 가능</li>
						</ol>
						</td>
						<td>
						<ol>
							<li>총 관람횟수 100회</li>
							<li>누적 결제금액 300,000원</li>
							<li>리뷰 작성 횟수 20회</li>
						</ol>
						</td>
					</tr>
					<tr>
						<td><img src="http://postfiles12.naver.net/20121101_283/exteria_1351705509781vBdGm_JPEG/platinum.jpg?type=w3"></td>
						<td>
						<ol>
							<li>공연 예매시 15% 할인</li>
							<li>공연 관람 금액 10% 적립</li>
							<li>PLATINUM 좌석 예매 가능</li>
						</ol>
						</td>
						<td>
						<ol>
							<li>총 관람횟수 50회</li>
							<li>누적 결제금액 150,000원</li>
							<li>리뷰 작성 횟수 10회</li>
						</ol>
						</td>
					</tr>
					<tr>
						<td><img src="http://postfiles14.naver.net/20121101_221/exteria_1351705509476d4AnB_JPEG/gold.jpg?type=w3"></td>
						<td>
						<ol>
							<li>공연 예매시 10% 할인</li>
							<li>공연 관람 금액 5% 적립</li>
							<li>GOLD 좌석 예매 가능</li>
						</ol>
						</td>
						<td>
						<ol>
							<li>총 관람횟수 25회</li>
							<li>누적 결제금액 50,000원</li>
							<li>리뷰 작성 횟수 2회</li>
						</ol>
						</td>
					</tr>
				</table>
			</div>

			<div id="bottom">
				<h2> - 할인 적용 대상 - </h2>
				<table border="1" class='sale'>
					<tr>
						<th>M E N U</th>
						<th>P O I N T</th>
					</tr>
					<tr>
						<td>탄산음료(중)</td>
						<td>2,500점</td>
					</tr>
					<tr>
						<td>팝콘(중)</td>
						<td>4,000점</td>
					</tr>
					<tr>
						<td>팝콘(대)</td>
						<td>6,000점</td>
					</tr>
					<tr>
						<td>팝콘(중) 음료 콤보</td>
						<td>6,000점</td>
					</tr>
					<tr>
						<td>팝콘(대) 음료 콤보</td>
						<td>8,000점</td>
					</tr>
					<tr>
						<td>평일/주말 관람 1매</td>
						<td>8,000점</td>
					</tr>
				</table>
			</div>
		</div>

	<div id="footer">
		<p>사이트소개 | 이용약관 | 개인정보취급방침 | 제휴문의 | 법적고지 | 고객센터</p>
		<p>Copyright © mjuProject. All rights reserved.</p>
	</div>
</div>

<script	src="stylesheets/twitter-bootstrap-3b3dd3a/docs/assets/js/bootstrap-transition.js"></script>
<script	src="stylesheets/twitter-bootstrap-3b3dd3a/docs/assets/js/bootstrap-alert.js"></script>
<script	src="stylesheets/twitter-bootstrap-3b3dd3a/docs/assets/js/bootstrap-modal.js"></script>
<script	src="stylesheets/twitter-bootstrap-3b3dd3a/docs/assets/js/bootstrap-dropdown.js"></script>
<script	src="stylesheets/twitter-bootstrap-3b3dd3a/docs/assets/js/bootstrap-scrollspy.js"></script>
<script	src="stylesheets/twitter-bootstrap-3b3dd3a/docs/assets/js/bootstrap-tab.js"></script>
<script	src="stylesheets/twitter-bootstrap-3b3dd3a/docs/assets/js/bootstrap-tooltip.js"></script>
<script	src="stylesheets/twitter-bootstrap-3b3dd3a/docs/assets/js/bootstrap-popover.js"></script>
<script	src="stylesheets/twitter-bootstrap-3b3dd3a/docs/assets/js/bootstrap-button.js"></script>
<script	src="stylesheets/twitter-bootstrap-3b3dd3a/docs/assets/js/bootstrap-collapse.js"></script>
<script	src="stylesheets/twitter-bootstrap-3b3dd3a/docs/assets/js/bootstrap-carousel.js"></script>
<script	src="stylesheets/twitter-bootstrap-3b3dd3a/docs/assets/js/bootstrap-typeahead.js"></script>
</body>
</html>
